    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <img src="static/images/img.png" alt="Logo" width="50"><span class="fs-4 mr-5">Amazon Price Tracker</span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('table') }}" class="nav-link">Historical Data</a></li>
            <li class="nav-item"><a href="{{ url_for('tracking') }}" class="nav-link">Tracking List</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
    </div>